.titulo {
  background-color: #e3350d;
}

.imagenPrincipal {
  width: 50%;
  height: 50%;
  object-fit: contain;
  margin-bottom: 10px;
}

.btnRegresar {
  background-color: #2d3748;
  color: #ffff;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}

.btnRegresar:hover {
  background-color: #e3350d;
  color: #2d3748;
  font-weight: bold;
  border: none;
  transition: 0.2s;
  transform: scale(1.1);
}

.animacionPrincipal {
  margin: 20%;
  width: 40%;
  height: 40%;
  object-fit: contain;
}

.nombrePokemon {
  font-family: 'Pokemon Solid', sans-serif;
  color: yellow;
  -webkit-text-stroke: 3px blue;
}
