.titulo {
  background-color: #e3350d;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Letra clásica de Pokémon */
.nombrePokemon {
  font-family: 'Pokemon Solid', sans-serif;
  color: #ffcb05; /* Amarillo clásico de Pokémon */
  -webkit-text-stroke: 2px #2a75bb; /* Azul clásico */
  letter-spacing: 2px;
}

.imagenPrincipal {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0px 10px 10px rgba(0,0,0,0.2)); /* Sombra bonita a la imagen SVG */
}

.animacionPrincipal {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.btnRegresar {
   background-color: var(--poke-dark);
  color: var(--poke-yellow);
  font-family: 'Bangers', cursive;
  font-size: 18px;
  letter-spacing: 1px;
  border: none;
  border-radius: 14px;
  width: 150px;
  padding: 10px 0;
  transition: 0.25s;
}

.btnRegresar:hover {
   background-color: var(--poke-red);
  color: var(--poke-yellow);
  transform: scale(1.08);
  -webkit-text-stroke: 1px #00008B;
}