<div class="titulo">
    <h1 class="ps-3">PokeApi <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
            alt=""> </h1>

</div>

<div class="container mt-5  justify-content-center rounded-4 align-items-center  d-flex w-25">




    <div class="card card-body loginBackgroundBody align-items-center rounded-4 w-50">

        <div class="tituloLogin">
            <h4>Inicio de sesión</h4>
        </div>

        <div class="fondoPokeball d-flex justify-content-center">
            <div class="pokeball ">

            </div>

        </div>


        <div class="mb-3 align-items-center text-white">
            <label for="form-label">Nombre:</label>
            <input type="text" class="form-control text-center">
        </div>

        <div class="mb-3 align-items-center text-white">
            <label for="form-label">Contraseña:</label>
            <input type="password" class="form-control text-center">
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btnEnviar" [routerLink]="'/pokemones'">Acceder</button>
        </div>

        <div>
            <p><span>¿No tiene una cuenta? </span> <a [routerLink]="['/formulario']">¡Cree una!</a></p>
        </div>



    </div>






</div>