<div class="metal-desk-bg">
  
  <div class="pokedex-device">
    
    <div class="device-header">
      <div class="logo-plate">
        <div class="pikachu-stand">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pikachu" class="pikachu-sprite" />
        </div>
        <span class="logo-text">POKEAPI</span>
      </div>

      <div class="top-right-details">
        <div class="top-leds">
          <div class="led led-green"></div>
          <div class="led led-green"></div>
        </div>
        <div class="model-text">MODEL NO. PX 01<br><span>VER 2.50.40</span></div>
      </div>
    </div>

    <div class="silver-bezel">
      
      <div class="side-leds">
        <div class="led led-green-small"></div>
        <div class="led led-blue-small"></div>
      </div>

      <div class="hologram-screen">
        
        <div class="screen-header">
          <h1>INICIO DE SESIÓN</h1>
          <p>Accede a tu Pokédex</p>
        </div>

        <form [formGroup]="formulario" (submit)="enviarDatos()" class="tech-form">

          <div class="tech-input-group">
            <input type="email" formControlName="correo" placeholder="Correo*" class="tech-input">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/poke-ball.png" class="input-icon pb-icon" alt="Pokeball">
          </div>

          <div class="tech-input-group">
            <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Contraseña*" class="tech-input">
            <button type="button" class="icon-btn" (click)="hidePassword = !hidePassword" tabindex="-1">
              <mat-icon class="mat-icon-custom">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>

          @if (errorMessage) {
            <div class="tech-error">
              <mat-icon>error_outline</mat-icon> {{ errorMessage }}
            </div>
          }

          <div class="submit-container">
            <button type="submit" class="metal-submit-btn" [disabled]="isLoanding">
              <span class="btn-arrow">&rarr;</span> 
              {{ isLoanding ? 'CARGANDO...' : '¡ACCEDER!' }}
            </button>
          </div>

          <div class="screen-links">
            <a [routerLink]="['/forgot-password']">¿Olvidaste tu contraseña?</a>
            <p>¿No tienes cuenta? <a [routerLink]="['/formulario']" class="highlight-link">¡Regístrate!</a></p>
          </div>

        </form>

      </div> <div class="bottom-bezel-text">
        <div class="barcode-lines"></div>
        <span>MK: 02.40.1</span>
      </div>

    </div> </div> </div>